<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>OneBusAway</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr-CA</string>
		<string>pl</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>onebusaway</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>onebusaway</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>twitter</string>
		<string>comgooglemaps</string>
		<string>fb</string>
		<string>twitter</string>
		<string>comgooglemaps</string>
		<string>fb313213768708402HART</string>
		<string>org.sdmts.riderapp.compassmobile.payments</string>
		<string>co.bytemark.tgt</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>© Open Transit Software Foundation</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Show your location on the map</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Show your location on the map</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>org.onebusaway.iphone.user_activity.stop</string>
		<string>org.onebusaway.iphone.user_activity.trip</string>
	</array>
	<key>OBAKitConfig</key>
	<dict>
		<key>AppDevelopersEmailAddress</key>
		<string>iphone-app@onebusaway.org</string>
		<key>AppGroup</key>
		<string>group.org.onebusaway.iphone</string>
		<key>BundledRegionsFileName</key>
		<string>regions.json</string>
		<key>DeepLinkServerBaseAddress</key>
		<string>https://onebusaway.co</string>
		<key>ExtensionURLScheme</key>
		<string>onebusaway</string>
		<key>PrivacyPolicyURL</key>
		<string>https://onebusaway.org/privacy/</string>
		<key>PushNotificationAPIKey</key>
		<string>d5d0d28a-6091-46cd-9627-0ce01ffa9f9e</string>
		<key>RESTServerAPIKey</key>
		<string>org.onebusaway.iphone</string>
		<key>RegionsServerAPIPath</key>
		<string>/regions-v3.json</string>
		<key>RegionsServerBaseAddress</key>
		<string>https://regions.onebusaway.org</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
