<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>KiedyBus</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>pl</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>kiedybus</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kiedybus</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>20200727.23</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>twitter</string>
		<string>comgooglemaps</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>goeuropa.eu</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>kiedybus.pl</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>© goEuropa</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Show your location on the map</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Show your location on the map</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>pl.kiedybus.iphone.user_activity.stop</string>
		<string>pl.kiedybus.iphone.user_activity.trip</string>
	</array>
	<key>OBAKitConfig</key>
	<dict>
		<key>AppDevelopersEmailAddress</key>
		<string>info@goeuropa.eu</string>
		<key>AppGroup</key>
		<string>group.pl.kiedybus.iphone</string>
		<key>BundledRegionsFileName</key>
		<string>regions.json</string>
		<key>ExtensionURLScheme</key>
		<string>kiedybus</string>
		<key>PrivacyPolicyURL</key>
		<string>https://www.goeuropa.eu</string>
		<key>RESTServerAPIKey</key>
		<string>web</string>
		<key>RegionsServerAPIPath</key>
		<string>/regions-v4.json</string>
		<key>RegionsServerBaseAddress</key>
		<string>http://kiedybus.pl</string>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
